application/config/ci_app_config.json
application/config/config.php
application/config/database.php
application/config/phinx.php
application/config/mongo_db.php
application/config/api_config.php
application/.env
application/.env.dev
application/.env.prod

application/logs/*
!application/logs/index.html

public/uploads

vendor
vendor/*
.vscode
.vscode/*
.idea
.idea/*
application/logs
application/logs/*
log-*
\.idea/workspace\.xml
node_modules
node_modules/*
.eslintrc.js
.jshintrc
*.log
microservices/transactions/logs/*
microservices/depot/logs/*
microservices/readers/logs/*
microservices/terminals/logs/*
public/media/*.jpg
public/media/*.png
public/media/*.jpeg
public/media/thumbs/*.jpeg
public/media/thumbs/*.jpg
public/media/thumbs/*.png
app.log
public/blog/*.jpg
public/blog/*.png
public/blog/*.jpeg
